// Functional color variables

$color-text-dark: #545454;
$color-text-light: #f1f3f3;

$color-bg-body: #1e2e35;
$color-bg-header: #f1f3f3;
$color-bg-search: #dde1df;
$color-bg-button: #78B53C;

$color-border: #a9386f;

$color-btn: #a8d57b;
$color-btn-hover: #415847;

// Font stacks

$stack-montserrat: 'Montserrat', sans-serif;

// Margin and padding

$edge-sm: 15px;
$edge-lg: 20px;