// Functional color variables

$color-text-dark: #545454;
$color-text-light: #e7eae9;

$color-bg-body: #1e2e35;

$color-border: #a9386f;

$color-btn: #a8d57b;
$color-btn-hover: #415847;

// Font stacks

$stack-montserrat: 'Montserrat', sans-serif;

// Margin and padding

$edge-sm: 15px;
$edge-lg: 20px;