//============================================================
// Card Styles
//============================================================

li.card {
  background-color: $color-bg-card;
  padding: $edge-sm;
  margin-bottom: $edge-sm * 2;
}
