//============================================================
// Container Styles
//============================================================

//------------- Outer -------------

.outer-container {
  min-height: 100%;
  padding: $edge-sm;
  @include mq('tablet') {
    padding: $edge-med;
  }
  @include mq('desktop') {
    padding: $edge-lg;
  }
}

//------------ Search -------------

.search-container {
  @include display-flex($justify: center, $align: center);
  height: 60px;
  background-color: $color-bg-search;
}

//------------- Sort --------------

.sort-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $edge-sm;
  @include mq('mobile') {
    padding: $edge-sm $edge-med;
  }
  @include mq('tablet') {
    padding: $edge-sm $edge-lg;
  }
}

//------------ Cards --------------

.card-container {
  @include display-flex($wrap: wrap, $justify: space-around);
  max-width: 1200px;
  margin: 0 auto ($edge-lg * 2);
  #no-match {
    color: $color-text-gray;
  }
}
