//============================================================
// Container Styles
//============================================================

//------------- Outer -------------

.outer-container {
  min-height: 100%;
  padding: $edge-sm;
}

//------------ Search -------------

.search-container {
  @include display-flex($justify: center, $align: center);
  height: 60px;
  background-color: $color-bg-search;
}

.card-container {
  #no-match {
    color: $color-text-gray;
  }
}