//============================================================
// Container Styles
//============================================================

//------------- Outer -------------

.outer-container {
  min-height: 100%;
  padding: $edge-sm;
}

//------------ Search -------------

.search-container {
  @include display-flex($justify: center, $align: center);
  height: 60px;
  background-color: $color-bg-search;
}

//------------ Cards --------------

.card-container {
  @include display-flex($wrap: wrap, $justify: space-around);
  max-width: 1200px;
  margin: 50px auto;
  #no-match {
    color: $color-text-gray;
  }
}
