//============================================================
// Header Styles
//============================================================

//------------ Header -------------

header {
  @include display-flex($justify: flex-start, $align: center);
  height: 72px;
  background-color: $color-bg-header;
  #logo-spotify {
    width: 72px;
    padding: 8px;
  }
  @include mq('mobile') {
    padding-left: $edge-sm - 5px;
  }
  @include mq('tablet') {
    padding-left: $edge-med;
  }
  @include mq('desktop') {
    padding-left: $edge-lg;
  }
  #title {
    @include font-settings(1.5rem, 500)
  }
}

//------------ Button -------------

#btn-login {
  font-size: 0.9375rem;
  background-color: $color-bg-button;
  color: $color-text-light;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  @extend %focus-state;
  @extend %hover-btn;
}
