//============================================================
// LightGallery Custom Styles
//============================================================

.lg-on {
  overflow: hidden;
}

.lg-backdrop {
  background-color: $color-bg-body;
}
      
.lg-custom.lg-outer {
  .lg-actions {
    .lg-next,
    .lg-prev {
      top: 25%;
      background-color: $color-bg-button;
      color: $color-text-light;
      @extend %hover-btn;
      @include mq('mobile') {
        top: 28.5%;
      }
      
    }
    .lg-next {
      right: $edge-sm - 5px;
    }
    .lg-prev {
      left: $edge-sm - 5px;
    }
  }
  .lg-toolbar {
    background-color: $color-bg-search;
    .lg-icon {
      background-color: $color-bg-button;
      color: $color-text-light;
      @extend %hover-btn;
    }
  }
  .lg-sub-html {
    position: absolute;
    z-index: 1080;
    top: 44%;
    max-width: 640px;
    overflow-y: scroll;
    background-color: $color-bg-body;
    color: $color-text-light;
    text-align: left;
    padding: 0 $edge-sm;
    @include mq('mobile') {
      top: 50%;
    }
  }
  #lg-counter {
    @include font-settings($weight: 400, $color: $color-text-dark);
    padding-top: 16px;
  }
  .lg-item,
  .lg-img-wrap {
    &:before {
      height: 25%;
      @include mq('mobile') {
        height: 28.5%;
      }
    }
  }
  .lg-img-wrap {
    .lg-image {
      max-width: 300px;
      @include mq('mobile') {
        max-width: 400px;
      }
    }
  }
}

.lg-custom.lg-outer {
  .lg-album-info {
    p {
      @include font-settings(0.9rem, 300, $color-text-light);
      margin: 0;
      padding: ($edge-sm - 5px) 0 0;
    }
    p:last-child {
      padding: ($edge-sm - 5px) 0 $edge-sm - 5px;
    }
    span {
      @include font-settings(0.8rem, 400, $color-text-gray);
    }
  }
}

.lg-custom.lg-outer {
  .lg-track {
    @include display-flex($justify: space-between, $align: center);
    padding: 1px 0;
    @extend %hover-li;
    p {
      @include font-settings(0.8rem, 300, $color-text-light);
      padding-left: 8px;
      margin: 0;
    }
    .lg-track-num {
      @include font-settings(0.8rem, 400, $color-text-gray);
      width: 24px;
    }
    .lg-track-name {
      flex: 1;
    }
    .lg-track-duration {
      @include font-settings(0.8rem, 400, $color-text-gray);
      padding-right: 5px;
    }
  }
}

